backend/__pycache__
backend/**/__pycache__
backend/*.pyc
backend/**/*.pyc
backend/*.pyo
backend/**/*.pyo
backend/*.pyd
backend/**/*.pyd
.env.dev
.env.prod
backend/venv/
backend/**/.pytest_cache
backend/**/*.log
